.handle-list{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5% 0;
    display: flex;
}
.handle-list-section{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 32px;
    width: 50%;

}
.handle-list-object{
    flex: 1 0 auto;
    border: 1px solid #ABB6C8;
    border-radius: 8px;
    max-height: 75%;
    overflow: auto;
}
.handle-list-section-title{
    font-size: 18px;
    line-height: 36px;
    color: #110F67;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}
.handle-list-first{
    width: 100%;
    height: 80%;
    max-height: 85%;
    overflow-y: auto;
}
.handle-list-btn{
    margin-top: 12px;
    width: 100%;
    color: #110F67;
    font-weight: 500;
}
.handle-list-next-btn{
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    background: #ABB6C8;
    cursor: pointer;
}
.body-auto{
    height: auto;
}
.accept-request .request-name{
    background: #90EE90;
}
.alert{
    transition: 2s ease;
    z-index: 2;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    color: #664d03;
    background-color: #fff3cd;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 1rem;
    border: 1px solid #ffecb5;
    border-radius: 8px;
}
.close{
    cursor: pointer;
    z-index: 2;
}
.alert-icon{
    margin-right: 0.5rem;
    flex-shrink: 0;
    vertical-align: middle;
    box-sizing: border-box;
    color: #664d03;
}
@media only screen and (max-width:768px) {
    .handle-list{
        padding: 8% 24px;
    }
    .handle-list-first{
        max-height: calc(100% - 72px);
    }
    .handle-list-section-title{
        overflow-wrap: anywhere;
    }
}
@media only screen and (max-width:600px) {
    .handle-list-section{
        width: 100%;
    }
    .handle-list{
        padding: 15% 24px;
    }

    .handle-list{
        flex-direction: column;
    }
    .q-mt-2{
        margin-top: 12px;
    }
}