.request{
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
}
.request-name{
    border: 2px solid #ABB6C8;
    border-radius: 3px;
    padding: 0 32px;
}
.request-product{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ABB6C8;
    border-radius: 2px;
    display: flex;
    padding: 0 12px;
}
.request-products{
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #ABB6C8;
    border-radius: 2px;
}
.request-product-name{
    padding: 12px 0;
    width: 80%;
}
.request-product-weight{
    padding: 12px 0;
    border-left: 1px solid #ABB6C8;
    text-align: center;
    width: 20%;
}